p {
  font-size: 20px;
}

body {
  font-family: Arial, sans-serif;
  font-weight: bold;
  background-color: #228b22;
  margin-top: 10px;
  padding: 10px;
  overflow-x: hidden;
}

header {
  font-size: 20px;
  padding: 0px;
  text-align: center;
  box-sizing: border-box;
}

header h2 {
  color: white;
}

#christmasCountdownSection h2 {
  font-size: 20px;
}

main {
  text-align: center;
  background-color: #d1ffb8;
  background-repeat: no-repeat;
  background-position-x: center;
}
img {
  max-width: 100%;
  margin: auto;
  display: block;
  padding: 0;
  box-sizing: border-box;
}

@keyframes moveRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.move-right {
  animation: moveRight 3s ease-in-out forwards;
  position: relative;
}

button {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  font-size: 30px;
  padding: 10px 20px;
  margin: 5px;
  background-color: green;
}

#blueButton {
  background-color: #2142ac;
}

#orangeButton {
  background-color: #dc883b;
}

#yellowButton {
  background-color: #d1a42a;
}

#pinkButton {
  background-color: #cf3987;
}

#redButton {
  background-color: #c42121;
}

#nextButton {
  background-color: green;
}

button:hover {
  opacity: 0.8;
}

#interactiveSection,
#conclusionSection {
  display: none;
  color: black;
  text-decoration: solid;
  text-shadow: #000000;
}

#christmasCountdownSection {
  width: 50%;
  max-width: 400px;
  background-color: #fe2d48;
  border-radius: 10px;
  color: white;
  box-sizing: border-box;
  font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    padding: 20px;
}

#christmasCountdownSection input {
  margin: 5px 0;
  font-size: 16px;
}

#christmasCountdownSection button {
  margin-top: 10px;
  font-size: 16px;
}

#footerNav {
  background: #d1ffb8;
  text-align: center;
  padding: 20px 0;
}

#footerNav a {
  text-decoration: none;
  transition: color 0.3s ease;
  padding: 10px 0;
}

#footerNav a:hover {
  text-decoration: underline;
}
